
.banner-img {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
}


.banner-titulo {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    margin: 1%;
    
}

.banner-texto {
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    margin: 1%;

}

.banner-botao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    background: #2A7AE4;
    color: white;
    border-color: #2A7AE4;
    margin: 1%;

}

@media (max-width: 414px) {
    .banner-img {
        padding: 20px;
        height: 100px;
        }

        .banner-titulo {
            font-size: 22px;
            margin: 3%;
            
        }
        
        .banner-texto {
            font-weight: 600;
            font-size: 14px;
            margin: 3%;
        
        }
        .banner-botao {
            padding: 10px;
            font-size: 11px;
            width: 105px;
            font-weight: 400;
            margin: 3%;
        }
}


@media (min-width: 768px) {

    .banner-img {
        padding: 50px;
        height: 180px;
        }

}
