.secoes2 {
    background: #E5E5E5;
    overflow-x: hidden;
}
.consoles{
    display: inline-grid;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2.4%;
    margin-top: 1%;
}

.consoles-titulo-principal {
    width: 148px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin-top: 2.5rem;
    margin-left: 38px;
    
}

.consoles-conteudo1 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole1.png")
}

.consoles-conteudo2 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole2.png")


}
.consoles-conteudo3 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole3.png")

}

.consoles-conteudo4 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole4.png")
}

.consoles-conteudo5 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole5.png")

}

.consoles-conteudo6 {
    background-repeat: no-repeat;
    width: 176px;
    height: 174px;
    background-image: url("../img/secaoconsole6.png")

}

.consoles-preco {
    width: 176px;
    height: 19px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding: 3%;

}

.consoles-botao {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2A7AE4;
    border: none;
    background-color: #E5E5E5;
}

.consoles-botao:hover {
    cursor: pointer;
}

.consoles-titulo {
    width: 176px;
    height: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

.consoles-conteudo {
  padding: 5%;

}