.form2 {
    background: #E5E5E5;
    width: 100%;
    height: 440px;
    overflow-x: hidden;
}

.form2-div {
    background: #E5E5E5;
    display: flex;
    margin-left: 450px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: center;
    width: 450px;
    height: 300px;

}


.form2-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #464646;
    align-items: center;
    position: absolute;
    left: 600px;
    top: 150px;
}


.form2-input {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 423px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 20px;
    border-color: #FFFFFF;
    border-style: none;

}

.form2-botao {
    width: 423px;
    height: 63px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #2A7AE4;
    margin-bottom: 10px;
    border-color: #2A7AE4;

}

.form2-botao:hover {
    cursor: pointer;
}


.nav2 {
    padding: 2%;
    align-items:end;
    display: flex;
    justify-content: space-evenly;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-position: left 5% bottom 45%;
    background-size: 9em;
}

.caixa2 { 
    background: #F5F5F5;
    border: #F5F5F5;
    border-radius: 20px;
    flex-direction: row;
    margin-right: 430px;
    width: 400px;
    height: 40px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 45%;
    background-size: 1.3em;
    padding-right: 1px;
    color: #A2A2A2;

}