.nav {
    padding: 2%;
    align-items:end;
    display: flex;
    justify-content: space-evenly;
    background-image: url("../img/Logo.png");
    background-repeat: no-repeat;
    background-position: left 5% bottom 45%;
    background-size: 9em;
}

.caixa { 
    background: #F5F5F5;
    border: #F5F5F5;
    border-radius: 20px;
    flex-direction: row;
    gap: 8px;
    width: 400px;
    height: 40px;
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 45%;
    background-size: 1.3em;
    padding-right: 1px;
    color: #A2A2A2;
}

.login {
    box-sizing: border-box;
    border-color:#2A7AE4;
    background: #FFFFFF;
    width: 182px;
    height: 51px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.login:hover {
    cursor: pointer;
}


@media (min-width: 0px) {
    .nav {
        flex-direction: row;
        display: flex;
        order: 1;
        padding: 15px;

    }

    .login {
        width: 100px;
        order: 2;
        position: relative; top: 5px; left: 100px;

    }

    .caixa {
        width: 22px;        
        background-color: #FFFFFF;
        order: 3;
        position: relative; top: 2px; left: 60px;
    }
}


@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        order: 1;
        display:flex;

    }

    .caixa {
        width: 350px;
        background-color: #F5F5F5;
        order: 2;
        position: relative; top: 1px; left: 110px;
    }

    .login {
        width: 150px;
        order: 3;
        position: relative; top: 1px; left: 70px;
    }
    

}

/*
@media (min-width: 1024px) {
    .academico__c {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

        